
.mynav {
    
    font-size: 18px;
    font-weight: 700;
    background-color: #4741af 
}
.navbar{
    background-color: #4741af;
    font-weight: 700;
    font-size: 18px;
    height: 50px;
    padding: 56px;
}
.myimg {
    border-radius: 10px;
}

.text-1{  
    font-size: 72px;
    line-height: 1.23;
    font-weight: 700;
    
}
.text-p1{
    font-size: 24px;
    font-weight: 400;
font-family: 'Poppins', sans-serif ;
}

.banner-btn {  background-color: #6c63ff;
font-size: 18px;
padding: 12px 58px;
font-weight: 700;
border-radius: 35px;
box-shadow: 0px 5px 15px 0px rgba(8, 0, 140, 0.19);
color: white;
    margin-top: 25px;
    text-decoration: none;
}
.banner-btn :hover {
color: #6c63ff;
background-color: #ffffff;
}
.img-lift{margin-left: -266px;
}
.text-link{
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: black;
}
.img-round-background{  background-color: rgb(243, 249, 251);
    border-radius: 50%;
    
}
.img-round-background img {
margin-top: -100px;
}
.service-title{
    font-weight: 700;
font-size: 21px;
}
.service-icon{
    background-color: #6c63ff;
    padding: 20px;
    border-radius: 50%;
}

.mycard:hover .service-icon{
    margin-left: 30px;
}  
.mybackground2{
background-color: rgb(243, 249, 251);
} 
.text-p{ font-size: 18px;
    font-weight: 400;
}
.text-subtitle{
    color: #6c63ff;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif ;

}
.text-title{
    font-size: 48px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif ;

}
.myborder{
    border-bottom: 3px solid  #6c63ff;
}